* {
  color: white;
  background-color: black;
}

.flex-item {
  order: 0;
  flex: 0 1;
  width: 400px;
  height: 50px;
  align-self: auto;
  margin: 5px;
  border-radius: 10px;
  border-color: yellow;
}
.flex-container-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  gap: 20px;
}
#header {
  margin: 20px;
  border-radius: 10px;
}
th {
  color: red;
  padding: 10px;
  font-size: larger;
}
tr {
  text-align: center;
}
